/* import fonts */
@font-face {
    font-family:"roboto-regular";
    src:url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style:normal;
    font-weight: normal;
}

@font-face {
    font-family:"roboto-medium";
    src:url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-style:normal;
    font-weight: normal;
}

@font-face {
    font-family:"roboto-bold";
    src:url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-style:normal;
    font-weight: normal;
}

@font-face {
    font-family:"roboto-light";
    src:url("../fonts/Roboto-Light.ttf") format("truetype");
    font-style:normal;
    font-weight: normal;
}

@font-face {
    font-family:"roboto-thin";
    src:url("../fonts/Roboto-Thin.ttf") format("truetype");
    font-style:normal;
    font-weight: normal;
}

@font-face {
    font-family:"roboto-black";
    src:url("../fonts/Roboto-Black.ttf") format("truetype");
    font-style:normal;
    font-weight: normal;
}

html {
    font-family: roboto-regular;
}

.clearfix::after {
    clear: both;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #358ae2;
    -webkit-box-shadow: 0 1px 0 0 #358ae2;
    box-shadow: 0 1px 0 0 #358ae2;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #358ae2;
    -webkit-box-shadow: 0 1px 0 0 #358ae2;
    box-shadow: 0 1px 0 0 #358ae2;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #358ae2;
}



.login-form--container {
    margin-top: 100px;
    padding: 20px;
    max-width: 500px;
}

.signup-form--container {
    padding: 20px;
    max-width: 500px;
}

.profile-form--container {
    padding: 20px;
    max-width: 500px;
}

.node-detail--container {
    margin: 20px auto;
    max-width: 800px;
}

.login--title {
    font-size: 42px;
    text-align: center;
    font-family: roboto-regular;
}

.login--tag {
    font-size: 18px;
    text-align: center;
    color: #8c8c8c;
}

.login--button {
    width: 98%;
}

.login--button--holder {
    text-align: center;
}

.login-form {
    padding: 20px;
}

.font--black--roboto {
    font-family: roboto-black;
}

.font--bold--roboto {
    font-family: roboto-bold
}

.font--medium--roboto {
    font-family: roboto-medium;
}

.font--regular--roboto {
    font-family: roboto-regular;
}

.font--light--roboto {
    font-family: roboto-light;
}

.font--thin--roboto {
    font-family: roboto-thin;
}

.menu--holder {
    width: fit-content;
    padding-top: 12px;
    padding-left: 20px;
    cursor: pointer;
}

.menu--line {
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 6px 0;
}

.slide-out-menu--holder {
    position: absolute;
    top: 0px;
}

.green-bg {
    background-color: #7cb342;
}

.blue-bg {
    background-color: #358ae2;
}

.blue-btn-bg {
    background-color: #358ae2;
}

.blue-btn-bg:hover,
.blue-btn-bg:focus {
    background-color: #358ae2;   
}

.sidenav li > a {
    font-family: roboto-regular;
}

.card-row-container {
    margin-bottom: 0px;
}

.asset-list--img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 65px !important;
    width: 120px;
}

.card-content--display {
    display: flex;
    flex-direction: row;
}

.asset-list--content {
    flex-grow: 2;
    padding-left: 25px;
}

.modal--container {
    top: 2% !important;
    width: 95%;
    height: 95%;
    max-height: 95%;
    max-width: 95%;
}

.premium-radio--style {
    font-size: 16px !important;
    padding-left: 5px;
}

.claim-card--container {
    margin: 20px 10px;
}

.claim--chat--arrow--left {
    width: 0;
    height: 0;
    border-bottom: 20px solid #005aff;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 0;
    left: -15px;
}

.claim--chat--arrow--right {
    width: 0;
    height: 0;
    border-bottom: 20px solid #005aff;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: 0;
    right: -15px;
}

.card--bg {
    z-index: 2;
    background-color: #005aff;
}

.card--bg--chat {
    background-color: #005aff;
    margin-bottom: 0px;
    border-radius: 5px;
}

.claim--chat--msg--container--left {
    width: 95%;
    float: left;
    margin-left: 10px;
}

.claim--chat--msg--container--right {
    width: 95%;
    float: right;
    margin-right: 15px;
}

.chat--main--container {
    min-height: 80vh;
}

.claim-card--text {
    font-family: roboto-medium;
    padding: 10px !important;
    color: #ffffff;
}

.chat--container {
    overflow-y: auto;
}

.chat--message--textbox--container {
    position: absolute;
    bottom: 0px;
    width: 98%;
    display: flex;
    flex-direction: row;
}

.message--textarea {
    margin-left: 10px;
}

.chat--message--textbox {
    flex-grow: 12;
    margin-left: 15px;
}

.chat--message--textbox--send {
    flex-grow: 1;
}

.chat--send--icon {
    cursor: pointer;
}

.hiddendiv .common {
    width: 100%;
}

.create-btn--bottom {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.card-title--asset {
    color: #333;
}

.asset-detail--container {
    padding: 20px;
    max-width: 800px;
}

.asset-detail-title--header--container {
    display: flex;
    flex-direction: row;
}

.asset-detail--image--holder {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 65px !important;
    width: 150px;
}

.asset-detail--title--holder {
    padding-left: 15px;
}

.asset-detail--attr {
    font-family: roboto-bold;
    font-size: 16px;
}

.asset-detail--attr > span {
    font-family: roboto-regular;
}

.asset-detail--claim--holder {
    padding-left: 15px;
    text-align: right;
}

.claim--asset--detail {
    padding: 10px 25px;
}

.hiddendiv {
    max-width: 100%;
}

.claim--title--ref--no {
    color: #33333385;
}

.claim--msg--username--right {
    position: absolute;
    bottom: 0px;
    right: 13px;
    font-family: roboto-light;
    font-size: 14px;
    color: #fff;
}

.claim--msg--username--left {
    position: absolute;
    bottom: 0px;
    left: 13px;
    font-family: roboto-light;
    font-size: 14px;
    color: #fff;
}

.asset-list--card--content {
    font-family: roboto-light;
    font-size: 14px;
    color: #333333b8;
}

.premium-radio--txt {
    font-family: roboto-bold;
    color: #333333b8;
}

.premium-radio--txt {
    font-family: roboto-bold;
    color: #333333b8;
}

.premium-radio--style--cont {
    font-family: roboto-light;
    color: #040404;
}