{% extends 'base.html' %}
{% load static from staticfiles %}
{% block node_detail %}
<div class="container">
    <div class="row profile-form--container">
        <form method="post" action="{% url 'create_assest' %}" enctype="multipart/form-data" class="col s12">
            {% csrf_token %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}

            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" name="name" type="text" class="validate font--light--roboto" autocomplete="off">
                    <label class="font--regular--roboto" for="first_name">Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="serial_number" name="serial_no" type="text" class="validate font--light--roboto" autocomplete="off">
                    <label class="font--regular--roboto" for="serial_number">Serial Number</label>
                </div>
                <div class="input-field col s12">
                    <input id="brand" type="text" name="brand" class="validate font--light--roboto" autocomplete="off">
                    <label class="font--regular--roboto" for="brand">Brand</label>
                </div>
                <div class="input-field col s12">
                    <input id="model" type="text" name="model" class="validate font--light--roboto" autocomplete="off">
                    <label class="font--regular--roboto" for="model">Model</label>
                </div>
                <div class="input-field col s12">
                    <input id="purchased_date" type="text" name="purchased_at" class="datepicker">
                    <label class="font--regular--roboto" for="purchased_date">Purchased Date</label>
                </div>
                <div class="input-field col s12">
                    <input id="amount" type="text" name="amount" class="validate font--light--roboto" autocomplete="off">
                    <label class="font--regular--roboto" for="model">Amount</label>
                </div>
                <div class="input-field col s12">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Invoice</span>
                            <input type="file" name="invoice">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload Invoice">
                        </div>
                    </div>
                </div>
                <div class="input-field col s12">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Image</span>
                            <input type="file" name="image">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload Image">
                        </div>
                    </div>
                </div>
                <div class="login--button--holder">
                    <input type="submit" class="login--button blue-btn-bg font--light--roboto waves-effect waves-light btn" value="Submit"></input>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock node_detail %}
