{% extends 'base.html' %}
{% load static from staticfiles %}
{% block node_detail %}
<div class="container">
    <div class="row asset-detail--container">
        <ul class="collection with-header">
            <li class="collection-header">
                <div class="asset-detail-title--header--container">
                    <div class="asset-detail--image--holder" style="background-image: url('{{ assest.image.url }}')">
                    </div>
                    <div class="asset-detail--title--holder">
                        <div class="asset-detail--title">
                            <h4>{{ assest.name }}</h4>
                        </div>
                    </div>
                </div>
            </li>
            <li class="collection-item asset-detail--attr">Brand: <span>{{ assest.brand }}</span></li>
            <li class="collection-item asset-detail--attr">Model: <span>{{ assest.model }}</span></li>
            <li class="collection-item asset-detail--attr">Purchased Date: <span>{{ assest.purchased_at }}</span></li>
            <li class="collection-item asset-detail--attr">Amount: <span>{{ assest.amount }}</span></li>
            <li class="collection-item asset-detail--attr">Serial Number: <span>{{ assest.serial_no }}</span></li>
        </ul>
        <div class="asset-detail--claim--holder">
            {% if insured_assests %}
                <a href="{% url 'claim_insurance' insured_assests.insure_assest_ref %}"><button class="btn blue-btn-green">Claim</button></a>
            {% else %}
            {% endif %}
            <button data-target="activateInsurance" data-id="{{assest.assest_ref}}" class="btn blue-btn-bg modal-trigger insure-trigger">Insure</button>
        </div>
    </div>
</div>
{% endblock node_detail %}
