{% extends 'base.html' %}
{% load static from staticfiles %}
{% block node_detail %}
<div class="container-fluid node-detail--container">
    <div class="row">
        {% if not assests %}
            <h5 style="text-align: center;">No Assets Availabe. Please add Assets.</h5>
        {% endif %}
        {% for asset in assests %}
            <div class="col s12">
                <div class="card">
                    <div class="card-content card-content--display">
                        <div class="asset-list--img" style="background-image: url('{{ asset.image.url }}')">
                        </div>
                        <div class="asset-list--content">
                            <a href="{% url 'assest_detail' asset.assest_ref %}"><span class="card-title card-title--asset">{{ asset.name }}</span></a>
                            <p class="asset-list--card--content">{{ asset.serial_no }}</p>
                        </div>    
                        <div class="asset-list--activate">
                            <a href="{% url 'assest_detail' asset.assest_ref %}"><button class="btn blue-btn-green">Detail</button></a>
                            <button data-target="activateInsurance" data-id="{{asset.assest_ref}}" class="btn blue-btn-bg modal-trigger insure-trigger">Insure</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'create_assest' %}" class="create-btn--bottom btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>
{% endblock node_detail %}
