{% extends 'base.html' %}
{% load static from staticfiles %}
{% block node_detail %}
    <div class="claim--asset--detail">
        <h4>{{insured_asset.assest.name}}</h4>
        <p class="claim--title--ref--no">{{insured_asset.insure_assest_ref}}</p>
    </div>
    <div class="chat--main--container">
        <div class="chat--container">
            {% for chat in chats %}
                {% if chat.receiver != request.user %}
                    <div class="container-fluid claim-card--container">
                        <div class="claim--chat--msg--container--left">
                            <div class="card card--bg--chat">
                                <span class="claim--chat--arrow--left"></span>
                                <div class="card-content claim-card--text">{{chat.message}}
                                    <spam class="claim--msg--username--right">{{chat.sender.first_name}}</spam>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% else %}
                    <div class="container-fluid claim-card--container">
                        <div class="claim--chat--msg--container--right">
                            <div class="card card--bg--chat">
                                <span class="claim--chat--arrow--right"></span>
                                <div class="card-content claim-card--text">{{chat.message}}</div>
                                <spam class="claim--msg--username--right">{{chat.receiver.first_name}}</spam>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    <div class="input-field col s12 chat--message--textbox--container">
        <div class="chat--message--textbox">
            <textarea id="message" class="materialize-textarea message--textarea" style="margin-left: 10px;"></textarea>
        </div>
        <div class="chat--message--textbox--send">
            <i id="sendMsg" class="material-icons chat--send--icon">send</i>
        </div>
        <input type="hidden" value="{{ insured_asset.id }}" id="insured_assest_id">
        <input type="hidden" value="{{ receiver_id }}" id="receiver_id">
    </div>
</div>
{% endblock node_detail %}
