{% load static from staticfiles %}
<div id="activateInsurance" class="modal modal--container">
    <div class="modal-content">
        <h4>Insure Asset</h4>
        <form class="col s12">
            <div class="row">
                <div class="input-field inline">
                    <input id="start_date" type="text" class="datepicker" required>
                    <label class="font--regular--roboto" for="start_date">Start Date</label>
                </div>
                <div class="input-field inline">
                    <input id="start_time" type="text" class="timepicker" required>
                    <label class="font--regular--roboto" for="start_time">Start Time</label>
                </div>
                <input type="hidden" name="start_datetime" id="start_datetime">
                <div class="input-field inline">
                    <input id="end_date" type="text" class="datepicker" required>
                    <label class="font--regular--roboto" for="end_date">End Date</label>
                </div>
                <div class="input-field inline">
                    <input id="end_time" type="text" class="timepicker" required>
                    <label class="font--regular--roboto" for="end_time">End Time</label>
                </div>
                <input type="hidden" name="end_datetime" id="end_datetime">
                <div class="input-field col s12">
                    <input disabled id="premium" type="text" class="validate" value="" required>
                    <label for="premium"></label>
                </div>
                <input type="hidden" name="asset_id" id="modal_asset_id">
                <div id="hours_respone">

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="blue-btn-bg font--light--roboto waves-effect waves-light btn" id="insure_asset_submit">Submit</button>
    </div>
</div>
<script text="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script text="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script text="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>