{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insurance on Demand</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>