{% extends 'base.html' %}
{% load static from staticfiles %}
{% block node_detail %}
<div class="container">
    <div class="row login-form--container">
        <form action="{% url 'user_login' %}" class="col s12 login-form" method="post">
            {% csrf_token %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
            <h1 class="login--title">Sign In</h1>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" name="email" class="validate font--light--roboto" autocomplete="off">
                    <label class="font--regular--roboto" for="email">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="password" type="password" name="password" class="validate font--light--roboto">
                    <label class="font--regular--roboto" for="password">Password</label>
                </div>
                <div class="login--button--holder">
{#                    <a class="login--button blue-btn-bg font--light--roboto waves-effect waves-light btn">Sign In</a>#}
                    <input type="submit" class="login--button blue-btn-bg font--light--roboto waves-effect waves-light btn" value="Sign In"></input>
                </div>
            </div>
        </form>
        <a href="{% url 'user_register' %}">Signup</a>
    </div>
</div>
{% endblock node_detail %}
