{% load static from staticfiles %}
    <nav class="blue-bg">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{%  url 'user_logout' %}">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="slide-out-menu--holder">
        <a href="#" data-target="slide-out" class="sidenav-trigger">
            <div id="navMenu" class="menu--holder">
                <div class="menu--line"></div>
                <div class="menu--line"></div>
                <div class="menu--line"></div>
            </div>
        </a>
        <ul id="slide-out" class="sidenav">
            <li><a class="waves-effect" href="{% url 'user_profile' %}">Profile</a></li>
            <li><a class="waves-effect" href="{% url 'assest_list' %}">Asset Bucket</a></li>
            <li><a class="waves-effect" href="{% url 'insure_assest_list' %}">Insurance History</a></li>
        </ul>
    </div>