{% extends 'base.html' %}
{% load static from staticfiles %}
{% block node_detail %}
<div class="container">
    <div class="row profile-form--container">
        <form method="post" action="{% url 'user_profile' %}" class="col s12">
            {% csrf_token %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" name="name" type="text" class="validate font--light--roboto" value="{{user.first_name}}" autocomplete="off">
                    <label class="font--regular--roboto" for="first_name">Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="email" type="email" name="email" class="validate font--light--roboto" value="{{user.email}}" autocomplete="off" readonly>
                    <label class="font--regular--roboto" for="email">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="mobile_number" name="mobile_no" type="text" value="{{user.profile.mobile_no}}" class="validate font--light--roboto" autocomplete="off">
                    <label class="font--regular--roboto" for="mobile_number">Mobile Number</label>
                </div>
                <div class="input-field col s12">
                    <input id="aadhaar_number" type="text" name="aadhaar_card_no" value="{{user.profile.aadhaar_card_no}}" class="validate font--light--roboto" autocomplete="off">
                    <label class="font--regular--roboto" for="aadhaar_number">Aadhaar Number</label>
                </div>
                <div class="input-field col s12">
                    <input id="pan_number" type="text" name="pan_card_no" value="{{user.profile.pan_card_no}}" class="validate font--light--roboto" autocomplete="off">
                    <label class="font--regular--roboto" for="pan_number">PAN Number</label>
                </div>
                <div class="login--button--holder">
{#                    <a class="login--button blue-btn-bg font--light--roboto waves-effect waves-light btn">Update</a>#}
                    <input type="submit" class="login--button blue-btn-bg font--light--roboto waves-effect waves-light btn" value="Update"></input>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock node_detail %}
