{% extends 'base.html' %}
{% load static from staticfiles %}
{% block node_detail %}
<div class="container">
    <div class="row signup-form--container">
        <form class="col s12 login-form" action="{% url 'user_register' %}" method="post">
            {% csrf_token %}
            <h1 class="login--title">Sign Up</h1>
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" name="name" type="text" class="validate font--light--roboto" autocomplete="off" required>
                    <label class="font--regular--roboto" for="first_name">Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="email" type="email" name="email" class="validate font--light--roboto" autocomplete="off" required>
                    <label class="font--regular--roboto" for="email">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="password" type="password" name="password" class="validate font--light--roboto" required>
                    <label class="font--regular--roboto" for="password">Password</label>
                </div>
                <div class="login--button--holder">
{#                    <a class="blue-btn-bg login--button font--light--roboto waves-effect waves-light btn">Sign Up</a>#}
                    <input type="submit" class="blue-btn-bg login--button font--light--roboto waves-effect waves-light btn" value="Sign Up"></input>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock node_detail %}
